@font-face {
   font-family: "Atkinson Hyperlegible";
   src: url('../atkinson/ah_regular.eot?#iefix') format('embedded-opentype'), 
		url('../atkinson/ah_regular.woff') format('woff'), 
		url('../atkinson/ah_regular.ttf')  format('truetype'),
		url('../atkinson/ah_regular.svg#svgFontName') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
   font-family: "Atkinson Hyperlegible";
   src: url('../atkinson/ah_bold.eot?#iefix') format('embedded-opentype'), 
		url('../atkinson/ah_bold.woff') format('woff'), 
		url('../atkinson/ah_bold.ttf')  format('truetype'),
		url('../atkinson/ah_bold.svg#svgFontName') format('svg');
	font-style: normal;
	font-weight: bold;
}
@font-face {
   font-family: "Atkinson Hyperlegible";
   src: url('../atkinson/ah_italic.eot?#iefix') format('embedded-opentype'), 
		url('../atkinson/ah_italic.woff') format('woff'), 
		url('../atkinson/ah_italic.ttf')  format('truetype'),
		url('../atkinson/ah_italic.svg#svgFontName') format('svg');
   font-style: italic;
	font-weight: normal;
}
@font-face {
   font-family: "Atkinson Hyperlegible";
   src: url('../atkinson/ah_bolditalic.eot?#iefix') format('embedded-opentype'), 
		url('../atkinson/ah_bolditalic.woff') format('woff'), 
		url('../atkinson/ah_bolditalic.ttf')  format('truetype'),
		url('../atkinson/ah_bolditalic.svg#svgFontName') format('svg');
	font-style: italic;
	font-weight: bold;
}

body {
	font-size: 1.125em;
	margin: 0;
	padding: 1.2em;
	font-family: "Atkinson Hyperlegible";
	background: linear-gradient(0deg, #F4538A 0%, #F5DD61 30%, #59D5E0 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	overflow-wrap: break-word;
}

main {
	box-sizing: border-box;
	display: block;
	max-width: 450px;
	border-radius: 30px;
	margin: 0 auto;
	text-align: center;
	background: rgba(255, 255, 255, .5);
	padding-top: 40px;
	padding-bottom: 25px;
	padding-right: 30px;
	padding-left: 30px;
}

.left {
	margin-top: 2.5em;
	text-align: left !important;
	line-height: 120%;
}

.center {
	text-align: center !important;
}

li {
	line-height: 140%;
}

a:link,
a:visited {
	color: #000;
	text-decoration-color: #555;
	text-decoration: none;
	border-bottom: 2px dotted #000;
}
a:hover,
a:active {
	color: #000;
	text-decoration-color: #000;
	text-decoration: none;
	border-bottom: 2px solid #000;
}

hr {
	border-top: dotted 2px #000;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	background-color: transparent;
	margin: 30px 0;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px 10px;
}

.top {
  	line-height: 150%;
}

.small {
  font-size: 14px;
  text-transform: lowercase;
}

.tiny {
  font-size: 12px;
  margin-top: 2em;
}

.flags {
  border-radius: 6px;
  width: 24px;
  height: 18px;
  filter: brightness(110%);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
  font-weight: bold;
}

h1 {
  font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.0909 */
}
  
h2 {
  font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}

.flags {
	border-radius: 6px;
	width: 24px;
	height: 18px;
	filter: brightness(110%);
}

img {
  max-width: 100%;
  border-radius: 5px;
}